<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <title>Gift App</title>
</head>
<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">
                <a href="/">
                    Gift App
                </a>
            </h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/preferences">Preferences</a>
                <a class="nav-link active" href="/about">About</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Gift App</h1>
        <p class="lead">We made this project for artificial intelligence course at Poznan University of Technology.</p>
        <p class="lead">We are using:</p>
        <ul>
            <li>CLIPS Tool for Building Expert Systems</li>
            <li>Django web framework</li>
        </ul>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header author">
                    <h4 class="my-0 font-weight-normal">Michał Andrzejewski</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <a title="GitHub" href="https://github.com/michal-andrzejewski">
                            <div class="author-link">
                                <img class="logo-small" src="/static/images/github-logo.svg">
                                <span>michal-andrzejewski</span>
                            </div>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header author">
                    <h4 class="my-0 font-weight-normal">Oliwia Bartosik</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <a title="GitHub" href="https://github.com/">
                            <div class="author-link">
                                <img class="logo-small" src="/static/images/github-logo.svg">
                                <span>oliwia</span>
                            </div>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header author">
                    <h4 class="my-0 font-weight-normal">Robert Błaszyński</h4>
                </div>
                <div class="card-body ">
                    <ul class="list-unstyled mt-3 mb-4">
                        <a title="GitHub" href="https://github.com/rblaszynski">
                            <div class="author-link">
                                <img class="logo-small" src="/static/images/github-logo.svg">
                                <span>rblaszynski</span>
                            </div>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div></main>


         <footer class="mastfoot mt-auto">
        <div class="inner">
            © 2019<a title="GitHub" href="https://github.com/rblaszynski/gift_app">
            <img class="logo-small" src="/static/images/github-logo.svg">
        </a>
        </div>
    </footer>
    </div>


    <script src="/static/js/jquery-3.4.0.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>