<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <title>Gift App</title>
</head>
<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">
                <a href="/">
                    Gift App
                </a>
            </h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/preferences">Preferences</a>
                <a class="nav-link" href="/about">About</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome to Gift App!</h1>
        <p class="lead"></p>
        <p class="lead">Gift App is a rule-based advisory system that supports the selection of a gift
            with a hint of preferences and other features of the recipient.
        </p>
        <a href="/preferences" class="btn btn-lg btn-secondary">Let's get started!</a>

    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            © 2019<a title="GitHub" href="https://github.com/rblaszynski/gift_app">
            <img class="logo-small" src="/static/images/github-logo.svg">
        </a>
        </div>
    </footer>
</div>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>