<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <title>Gift App</title>
</head>
<body class="text-center" style="height: max-content; min-height: 100%;">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">
                <a href="/">
                    Gift App
                </a>
            </h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/">Strona główna</a>
                <a class="nav-link active" href="/preferences">Wybór prezentu</a>
                <a class="nav-link" href="/about">O nas</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="cover-heading">Wybierz swoje preferencje!</h1>
        <p class="lead">Wybierz opcje, które w najlepszy sposób opisują obdarowywaną osobę.</p>
        <p class="lead">Jeśli nie możesz się
            zdecydować, którą opcję wybrać pozostaw puste pole. </p>
        <form id="form-preference" onsubmit="return false" class="ui form twelve wide column">
            <div class="container preference-container">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="age">Wiek</label>
                        <select class="custom-select d-block w-100" id="age">
                            <option value="?">Wybierz...</option>
                            <option value="kid">Dziecko</option>
                            <option value="teen">Nastolatek</option>
                            <option value="adult">Dorosły</option>
                            <option value="elder">Elder</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid age.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="sex">Płeć</label>
                        <select class="custom-select d-block w-100" id="sex">
                            <option value="?">Wybierz...</option>
                            <option value="man">Mężczyzna</option>
                            <option value="female">Kobieta</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid sex.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="price">Cena</label>
                        <select class="custom-select d-block w-100" id="price">
                            <option value="?">Wybierz...</option>
                            <option value="cheap">Tani</option>
                            <option value="medium">Średni</option>
                            <option value="expensive">Drogi</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid price.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="fashion">Moda</label>
                        <select class="custom-select d-block w-100" id="fashion">
                            <option value="?">Wybierz...</option>
                            <option value="YES">Tak</option>
                            <option value="NO">Nie</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid fashion.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="music">Muzyka</label>
                        <select class="custom-select d-block w-100" id="music">
                            <option value="?">Wybierz...</option>
                            <option value="YES">Tak</option>
                            <option value="NO">Nie</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid music.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="games">Gra</label>
                        <select class="custom-select d-block w-100" id="games">
                            <option value="?">Wybierz...</option>
                            <option value="YES">Tak</option>
                            <option value="NO">Nie</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid game.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="movies">Film</label>
                        <select class="custom-select d-block w-100" id="movies">
                            <option value="?">Wybierz...</option>
                            <option value="YES">Tak</option>
                            <option value="NO">Nie</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid movie.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="gadgets">Gadżet</label>
                        <select class="custom-select d-block w-100" id="gadgets">
                            <option value="?">Wybierz...</option>
                            <option value="YES">Tak</option>
                            <option value="NO">Nie</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid gadget.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="sport">Sport</label>
                        <select class="custom-select d-block w-100" id="sport">
                            <option value="?">Wybierz...</option>
                            <option value="YES">Tak</option>
                            <option value="NO">Nie</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid sport.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="cosmetics">Kosmetyk</label>
                        <select class="custom-select d-block w-100" id="cosmetics">
                            <option value="?">Wybierz...</option>
                            <option value="YES">Tak</option>
                            <option value="NO">Nie</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid cosmetic.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="toy">Zabawka</label>
                        <select class="custom-select d-block w-100" id="toy">
                            <option value="?">Wybierz...</option>
                            <option value="YES">Tak</option>
                            <option value="NO">Nie</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid toy.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="book">Książka</label>
                        <select class="custom-select d-block w-100" id="book">
                            <option value="?">Wybierz...</option>
                            <option value="YES">Tak</option>
                            <option value="NO">Nie</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid book.
                        </div>
                    </div>

                </div>
            </div>
            <hr class="mb-4">
            <button id="submit-button" class="btn btn-secondary btn-lg btn-block">Znajdź prezenty</button>
        </form>
    </main>
    <div id="suggestion-div">
        <hr class="mb-4">
        <div class="suggestion-header">
            <h4>Zmodyfikuj kategorię <a id="giftName"></a></h4>
        </div>
        <form id="form-suggestion" onsubmit="return false" class="ui form twelve wide column">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="suggestion-key">Kategoria</label>
                    <select onclick="chooseSecondSelector()" class="custom-select d-block w-100" id="suggestion-key">
                        <option value="sex">Płeć</option>
                        <option value="price-level">Cena</option>
                        <option value="age-level">Wiek</option>
                        <option value="cat-fashion">Moda</option>
                        <option value="cat-music">Muzyka</option>
                        <option value="cat-book">Książka</option>
                        <option value="cat-games">Gra</option>
                        <option value="cat-movies">Film</option>
                        <option value="cat-gadgets">Gadżet</option>
                        <option value="cat-sport">Sport</option>
                        <option value="cat-cosmetics">Kosmetyk</option>
                        <option value="cat-toy">Zabawka</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid book.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="suggestion-value">Wartość</label>
                    <select class="custom-select d-block w-100" id="suggestion-value">
                        <option value="man">Mężczyzna</option>
                        <option value="woman">Kobieta</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid book.
                    </div>
                </div>
            </div>
            <button id="suggestion-submit-button" class="btn btn-secondary btn-md btn-block">Modyfikuj</button>
        </form>
    </div>
    <div class="container" id="gifts-container">
        <hr class="mb-4">
        <div class="gift-container-header">
            <h2>Lista proponowanych prezentów:</h2>
            <h5>Kliknij na jeden z nich aby dodać własną sugestię.</h5>
        </div>
        <ul id="result"></ul>
    </div>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            © 2019<a title="GitHub" href="https://github.com/rblaszynski/gift_app">
            <img class="logo-small" src="/static/images/github-logo.svg">
        </a>
        </div>
    </footer>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/preferences.js"></script>
</body>
</html>