<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <title>Gift App</title>
</head>
<body class="text-center" style="height: max-content; min-height: 100%;">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">
                <a href="/">
                    Gift App
                </a>
            </h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link active" href="/preferences">Preferences</a>
                <a class="nav-link" href="/about">About</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="cover-heading">Choose your preferences!</h1>
        <p class="lead">Choose options that best describes person you want to buy a gift. lorem lorem lorem lorem lorem
            lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem </p>
        <form id="form-preference" onsubmit="return false" class="ui form twelve wide column">
            <div class="container preference-container">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="age">Age</label>
                        <select class="custom-select d-block w-100" id="age">
                            <option value="?">Choose...</option>
                            <option value="kid">Kid</option>
                            <option value="teen">Teen</option>
                            <option value="adult">Adult</option>
                            <option value="elder">Elder</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid age.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="sex">Sex</label>
                        <select class="custom-select d-block w-100" id="sex">
                            <option value="?">Choose...</option>
                            <option value="man">Man</option>
                            <option value="female">Women</option>
                            <option value="unisex">Unisex</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid sex.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="price">Price</label>
                        <select class="custom-select d-block w-100" id="price">
                            <option value="?">Choose...</option>
                            <option value="cheap">Cheap</option>
                            <option value="medium">Medium</option>
                            <option value="expensive">Expensive</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid price.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="fashion">Fashion</label>
                        <select class="custom-select d-block w-100" id="fashion">
                            <option value="?">Choose...</option>
                            <option value="YES">Yes</option>
                            <option value="NO">No</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid fashion.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="music">Music</label>
                        <select class="custom-select d-block w-100" id="music">
                            <option value="?">Choose...</option>
                            <option value="YES">Yes</option>
                            <option value="NO">No</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid music.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="games">Games</label>
                        <select class="custom-select d-block w-100" id="games">
                            <option value="?">Choose...</option>
                            <option value="YES">Yes</option>
                            <option value="NO">No</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid game.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="movies">Movies</label>
                        <select class="custom-select d-block w-100" id="movies">
                            <option value="?">Choose...</option>
                            <option value="YES">Yes</option>
                            <option value="NO">No</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid movie.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="gadgets">Gadgets</label>
                        <select class="custom-select d-block w-100" id="gadgets">
                            <option value="?">Choose...</option>
                            <option value="YES">Yes</option>
                            <option value="NO">No</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid gadget.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="sport">Sport</label>
                        <select class="custom-select d-block w-100" id="sport">
                            <option value="?">Choose...</option>
                            <option value="YES">Yes</option>
                            <option value="NO">No</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid sport.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="cosmetics">Cosmetics</label>
                        <select class="custom-select d-block w-100" id="cosmetics">
                            <option value="?">Choose...</option>
                            <option value="YES">Yes</option>
                            <option value="NO">No</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid cosmetic.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="toy">Toy</label>
                        <select class="custom-select d-block w-100" id="toy">
                            <option value="?">Choose...</option>
                            <option value="YES">Yes</option>
                            <option value="NO">No</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid toy.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="book">Book</label>
                        <select class="custom-select d-block w-100" id="book">
                            <option value="?">Choose...</option>
                            <option value="YES">Yes</option>
                            <option value="NO">No</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid book.
                        </div>
                    </div>

                </div>
            </div>
            <hr class="mb-4">
            <button id="submit-button" class="btn btn-secondary btn-lg btn-block">Find gift</button>
        </form>
    </main>
    <div id="suggestion-div">
        <hr class="mb-4">
        <div class="suggestion-header">
            <h4>Modify <a id="giftName"></a> attribute:</h4>
        </div>
        <form id="form-suggestion" onsubmit="return false" class="ui form twelve wide column">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="suggestion-key">Category</label>
                    <select onclick="chooseSecondSelector()" class="custom-select d-block w-100" id="suggestion-key">
                        <option value="sex">Sex</option>
                        <option value="price-level">Price level</option>
                        <option value="age-level">Age level</option>
                        <option value="cat-fashion">Is fashion?</option>
                        <option value="cat-music">Is music?</option>
                        <option value="cat-book">Is book?</option>
                        <option value="cat-games">Is game?</option>
                        <option value="cat-movies">Is movie?</option>
                        <option value="cat-gadgets">Is gadget?</option>
                        <option value="cat-sport">Is sport?</option>
                        <option value="cat-cosmetics">Is cosmetic?</option>
                        <option value="cat-toy">Is toy?</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid book.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="suggestion-value">Value</label>
                    <select class="custom-select d-block w-100" id="suggestion-value">
                        <option value="man">man</option>
                        <option value="woman">woman</option>
                        <option value="unisex">unisex</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid book.
                    </div>
                </div>
            </div>
            <button id="suggestion-submit-button" class="btn btn-secondary btn-md btn-block">Modify</button>
        </form>
    </div>
    <div class="container" id="gifts-container">
        <hr class="mb-4">
        <div class="gift-container-header">
            <h2>Here's list of suggested gifts:</h2>
            <h5>Click one of them to add your own suggestion</h5>
        </div>
        <ul id="result"></ul>
    </div>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            © 2019<a title="GitHub" href="https://github.com/rblaszynski/gift_app">
            <img class="logo-small" src="/static/images/github-logo.svg">
        </a>
        </div>
    </footer>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/preferences.js"></script>
</body>
</html>